*{
    margin: 0;
    padding: 0;
    background-color: rgb(52, 243, 195);
}

.logo{
    width: 50%;
    border: 1px solid white;
    
}


li{
    list-style: none;
}


.fa-facebook{
    right: 40%;
    top: 2%;
    font-size: 3rem;
    position: absolute;
    color: white;
}


.fa-square-instagram{
    right: 30%;
    top: 2%;
    font-size: 3rem;
    position: absolute;
    color: white   
}

.fa-linkedin{
    right: 20%;
    top: 2%;
    font-size: 3rem;
    position: absolute;
    color: white;
}

.foto-user{
    position: relative;
}

.user{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.nav{
    width: 10%;
    height: 5%;
    border: 1px solid white;    
}

.nav-item{
    border: 4px solid white;
    margin: 10%;
    padding-block: 10%;
}


.section{
    width: 100%;
    height: 50%;
    border: 1px solid white;
}

#acerca, #conocimientos, #contacto{
    border: 2px solid white;
    margin: 2px;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: white;
}

.mb-3{
    width: 30%;
    padding: 1%;
}
